---
layout: default
title: Alin Capitanescu
---

{% if site.posts > 0 %}

<ul id="posts">
  {% for post in site.posts %}
    <li class="post">
      <div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
      <div class="date">{{ post.date | time_ago }}</div>
    </li>
  {% endfor %}
</ul>

<h2>Open source</h2>

<h3>Javascript</h3>

<ul class="projects">
  <li><a href="https://github.com/alincc/facturica">Facturica</a>: Contacts and invoices in a single-page web application built with HTML5/CSS3/Backbone .</li>
</ul>

